
<h1><%= @movie.title %></h1>

<h3><%= @movie.duration %></h3>
<h3><%= @movie.genre%></h3>
<h3><%= @movie.description %></h3>
<h3><%= @movie.trailer %></h3>

<h2>Comments</h2>

<% @movie.comments.each do |comment| %>
  <%= render 'comments/comment', { comment: comment } %>
<% end %>


<hr />
<button><%= link_to 'Add Comment', new_movie_comment_path(@movie) %></button>

<button><%= link_to 'Back to Movies', root_path, class: "active item" %></button> 