
<h1><%= @movie.title %></h1>

<h3><%= @movie.duration %></h3>
<h3><%= @movie.genre%></h3>
<h3><a href= <%= @movie.description %> >Link to IMDB Page</a><h3>
<iframe title="YouTube video player" width="640" height="390" src= <%= @movie.trailer %> frameborder="0" allowfullscreen></iframe>

<h2>Comments</h2>

<% @movie.comments.each do |comment| %>
  <%= render 'comments/comment', { comment: comment } %>
<% end %>


<hr />
<button><%= link_to 'Add Comment', new_movie_comment_path(@movie) %></button>

<button><%= link_to 'Back to Movies', root_path, class: "active item" %></button> 
